<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Set up a working, publically accessible full stack MEAN Application on a Digital Ocean Droplet with this tutorial.</p>
    <p>Welcome to <%= title %></p>
  </body>
</html>
